.mid-sec{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -50;
    padding: 0;
    margin: 0;
    width: 70em;
}

@media (min-aspect-ratio: 16/9) {
    .vid-bg{
        width: 100%;
        height: 100%;
    }
}

.cart-icon{
    fill: white;
}